
    .mapStyles {
      position: absolute;
      width: 78%;
      height: 92%;
      bottom: 15px
    }
  
    @media only screen and (min-device-width: 320px) and (max-device-width : 1024px)  {   
       #myMap {
        
           height: 50%;
           position: absolute;
            top: 40px;
            width: 100%
       }

       .newRestaurantInstruction {
           display: none;
       }
     }