/* .defaultImg {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 43px;
        height: 59px;
        user-select: none;
        border:0px;
        padding: 0px;
        margin: 0px;
        max-width: none
      
} */