.reviewLabel {
    line-height: 2em;
}

.reviewInput {
    border-radius: 4px;
    line-height: 2em;
    float: right;
    width: 200px;
    padding: 1px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.error {
    border: 1px solid red;
  }

.reviewRatingsDiv {
    text-align: right;
    margin-right: 10px;
}

.submitButtonDiv {
    text-align: right
}

.submitButton {
     background-color: transparent;
        border: none;
        cursor:pointer;
        outline: none;
        border-bottom: 2px solid #d35400;
        transition: 0.2s;
        margin-right: 10px;
        padding: 0px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px; 
        width: max-content;   
}

.submitButton:hover {
    text-decoration: none;
    border: none;
    color: #d35400
}

.submitButton:disabled,
.submitButton[disabled]{
    border: none;
}

.submitButton:disabled:hover,
.submitButton[disabled]:hover{
    color: #808080;
}