.sidebarDiv {
    color: rgb(34, 31, 43);
    width: 21%;
    position: absolute;
    right: 0; 
    padding-right: 3px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    height: 98%;
    overflow-y: scroll
}

@media only screen and (min-device-width: 320px) and (max-device-width : 1024px)  {
     /* STYLES GO HERE */
    .sidebarDiv {
        width: 95%;
        position: absolute;
        bottom: 10%;
        height: 30%;
    }
}

.ratingsDiv {
    margin-bottom: 20px
}

.itemDiv:hover h3{
    /* transform: scale(1.05) */
    /* text-decoration: underline;
    text-decoration-color: rgb(249, 142, 29) */
    color: #c06b11
}

h2 {
    margin-bottom: 5px
}

.itemDiv {
    border-bottom: 1px solid #c06b11;
    padding-left: 10px
}

.itemDiv:nth-child(odd) {
    background-color: rgba(192, 107, 17, 0.11);
}

.itemDiv h3 {
    margin-top: 0;
    padding-top: 5px
}

.addressIcon {
    width: 25px;
    margin-right: 10px;
    margin-top: 2px
}

.siteLink {
    margin-top: -5px
}

.restaurantInfoDiv p {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.restaurantInfoDiv p:hover {
    overflow: visible;
    white-space: normal
}

.closeButton {
    float: right;
    opacity: 1;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

*:focus {
    outline: none;
}

button {
    background-color: transparent;
      border: none;
      cursor:pointer;
      outline: none;
      border-bottom: 2px solid #d35400;
      transition: 0.2s;
      margin: 5px;
      padding: 0px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;     
}

button:hover {
    text-decoration: none;
    border: none;
    color: #d35400
}

.greyed {
    color: rgba(129, 122, 112, 0.61);
    border-bottom: 1px solid rgba(129, 122, 112, 0.61);
}