.sidebarDiv {
    color: rgb(34, 31, 43);
    width: 20%;
    position: absolute;
    right: 0;
    padding-left: 30px;
    font-size: 18px;
    height: 100%;
    overflow-y: scroll; 
}

.ratingPlaceholder {
    color: blueviolet;
}

.selected {
    color: rgb(144, 230, 7)
}