.Navbar {
    width: 78%;
    height: 6%;
    position: absolute;
    top: 0;
    /* background-color: antiquewhite; */
    margin: 0px;

}

.Navbar h2 {
   margin:  auto;
   font-family: 'Mansalva', cursive;
}

.Navbar span {
   font-size: 18px;
   font-weight: 300;
   font-family: 'Montserrat', sans-serif;
   
}

.logo{
   width: 3%;
   float: left;
   display: block;
   margin: 5px 10px;
}

.newRestaurantInstruction {
   position: absolute;
   bottom: 5px;
   left: 30%;
   font-family: 'Montserrat', sans-serif;
   background-color:rgba(224, 170, 55, 0.514);
   text-align: center;
   
}

.newRestaurantInstruction p {
   margin: 0px;
}

@media only screen and (min-device-width: 320px) and (max-device-width : 767px) {
   .logo{
      width: 10%;
   }

   .Navbar {
      width: fit-content;
   }

   .Navbar span {
      font-size: 12px;
   }
}